h1 {
    font: 400 50px "Playfair Display", serif;
    padding-top: 2.5em;
}
h3 {
    font: 300 20px "Open Sans", Arial, sans-serif;
    color: gray;
    padding-bottom: 4em;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
}
h4 {
    font: 400 20px "Playfair Display", serif;
    margin-bottom: 20px;
    text-align: center;
}
p {
    font: 300 20px "Open Sans", sans-serif;
    color: gray;
    margin-bottom: 3em;
    text-align: center;
    line-height: 1.8;
}