<div class="container-fluid" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Meal</h5>
                <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
                <button>Read More</button>
            </div>
            <div class="col-md-4">
                <h5>Lunch Service</h5>
                <p>Booking from 12:00pm — 1:30pm</p>
                <h5>Dinner Service</h5>
                <p>Everyday:</p>
                <p>Booking from 6:00pm — 9:00pm</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Along</h5>
                <div>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
                <h5>Newsletter</h5>
                <input type="text" class="form-control" placeholder="Enter Email" />
            </div>
            <div class="col-md-12" id="footer-bottom">
                Copyright &copy; 2022 All rights reserved
            </div>
        </div>
    </div>
</div>