h2 {
    font: 400 50px "Playfair Display", serif;
    padding: 40px 50px 0 50px;
}
p {
    font: 300 20px "Open Sans", Arial, sans-serif;
    line-height: 1.8;
    color: gray;
    padding: 20px 50px 0 50px;
}
img {
    max-width: 100%;
}