<div class="main-container">
  <div class="title position-absolute"><a href="" style="text-decoration: none; color: #000">M</a></div>
  <app-menu></app-menu>
  <app-slider></app-slider>
  <app-featured-food></app-featured-food>
  <app-social-feed></app-social-feed>
  <app-chefs></app-chefs>
  <app-products></app-products>
  <app-other-services></app-other-services>
  <app-reservation></app-reservation>
  <app-customer-reviews></app-customer-reviews>
  <app-get-in-touch></app-get-in-touch>
  <app-footer></app-footer>
</div>